<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swufe.kk.page">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Reach&amp;Network"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity
            android:name=".CompanyActivity"
            android:exported="true" />
        <activity android:name=".ServiceActivity" />
        <activity android:name=".CardActivity" >

        </activity>
        <activity
            android:name=".NewsActivity"
            android:exported="true"
            >

        </activity>
        <activity android:name=".Party4Activity" />
        <activity android:name=".List_itemActivity" />
        <activity android:name=".IconActivity" />
        <activity android:name=".MoreActivity"></activity>
    </application>

</manifest>